version: '3'

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: myburguer
      POSTGRES_PASSWORD: mb
      POSTGRES_DB: myburguer
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  myburguer:
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgresql://db:5432/myburguer"
      DATABASE_USER: "myburguer"
      DATABASE_PASSWORD: "mb"
      JWT_KEY: "lkjhaskljdajkdlsfjklsdgjklssdljkgff"
      LOG_LEVEL: "DEBUG"

volumes:
  pgdata:

networks:
  myburger:
    driver: bridge
